<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter une compétence à un Pal</title>
</head>
<body>
    <h1>Ajouter une compétence à un Pal</h1>
    <form id="addSkillForm">
        <label for="palName">Nom du Pal:</label>
        <input type="text" id="palName" name="palName" required><br>

        <label for="skillName">Nom de la compétence:</label>
        <input type="text" id="skillName" name="skillName" required><br>

        <label for="skillLevel">Niveau de la compétence:</label>
        <input type="number" id="skillLevel" name="skillLevel" required><br>

        <label for="skillType">Type de la compétence:</label>
        <input type="text" id="skillType" name="skillType" required><br>

        <label for="skillCooldown">Temps de recharge de la compétence:</label>
        <input type="number" id="skillCooldown" name="skillCooldown" required><br>

        <label for="skillPower">Puissance de la compétence:</label>
        <input type="number" id="skillPower" name="skillPower" required><br>

        <label for="skillDescription">Description de la compétence:</label><br>
        <textarea id="skillDescription" name="skillDescription" rows="4" cols="50" required></textarea><br>

        <button type="button" onclick="addSkillToPal()">Ajouter la compétence</button>
    </form>
    <script src="/static/script.js"></script>

</body>
</html>
